/snowhite/static/admin/
/snowhite/static/css/
/snowhite/static.old
/src/
.DS_Store
/sql_data/
/bin/
/include/
/lib/
/snowhite/settings_local.py
*.pyc
/snowhite/compass/.sass-cache/
/snowhite/media/groups/*
/snowhite/snowhitedb
snowhite/static/bg/
snowhite/static/icons/
snowhite/static/images/
snowhite/static/js/