# Django>=1.2
# South
# django-tagging
# textile
# Markdown
# docutils
# PIL==1.1.7

# -e git+git://github.com/snowcloud/ct-framework.git#egg=ct-framework
# -e git+git://github.com/snowcloud/ct-groups.git#egg=ct-groups
# -e git+git://github.com/snowcloud/ct-template.git#egg=ct-template
# -e git+git://github.com/snowcloud/sc-utils.git#egg=sc-utils
# -e git+git://github.com/snowcloud/django-basic-apps.git#egg=django-basic-apps

# TOFIX

# these should be in their own apps requirements.txt
# ct-framework
# django-registration==0.7

#ct-groups
