/* @group basic */

body {
  font-family: "Lucida Grande","Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  background: #fff none repeat-x;
}
.container {
  background: transparent none repeat-x 0 bottom;
}
.container p {
  padding-right: 1em;
  margin-bottom: 0.5em;
}

.container h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 0.5em;
}

.container h1 {
  font-size: 1.8em;
  color: #21264c;
  margin-top: 1em;
  margin-bottom: 1em;
}

.container h2 {
  font-size: 1.5em;
  color: #60696c;
}

.container h3 {
  font-size: 1.3em;
  color: #334146;
}

.container h3 a {
  color: #e16e14;
  text-decoration: none;
  border-bottom: 1px solid #96a8b4;
}
.container a:hover {
  color: rgb(255, 255, 255);
  background-color: #56606c;
}
.container img {
  margin-top: 0;
}
a:link {
	border-bottom: 1px dotted rgb(104, 195, 238);
	color: #343867;
	text-decoration: none;
}
a:visited {
	border-bottom: 1px dotted rgb(134, 217, 241);
	color: #343867;
	text-decoration: none;
}
a:hover {
	border: medium none;
	color: #fff;
	background-color: #8d9eb6;
	text-decoration: none;
}
a:active {
	background-color: #0077B5;
}
a.more {
	padding-right: 13px;
	background-image: url('../icons/more.gif');
	background-repeat: no-repeat;
	background-position: 100% 50%;
  font-size: .8em;
}
a img {
	border: medium none;
}
textarea {
	height: auto;
}
.super {
  font-size: 70%;
  vertical-align: top;
}
/* @end */

/* @group header */

#header {
  background: transparent none repeat-x 0 100%;
  height: 120px;
  overflow: hidden;
  position: relative;
}
#header-menu {
  text-align: right;
  padding-right: 1em;
}
#header-menu a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #ab7b22;
  font-weight: bold;
}

#header h1 a {
  background: transparent url(../srwehr.png) no-repeat scroll 0pt 0pt;
  bottom: 0px;
  display: block;
  height: 110px;
  line-height: 300px;
  overflow: hidden;
  position: absolute;
  width: 440px;
  border: 0 none white;
}

#subhead {
  padding: 0 1em 1em 0.5em;
}
#subhead a {
  text-decoration: none;
  border-bottom: 1px solid #e7a52f;
}
.container-wrapper-login {
  width: 100%;
  background: black url(../bg/bg-black-bar.png) repeat-x 0 top;
}
#login-bar p {
  color: white;
  margin: 0;
  padding: 0.5em 1em 0.5em 0.5em;
}
#login-bar a {
  color: white;
}
#login-bar-search {
  text-align: right;
}
/* @end */

/* @group preinfo */
.container-wrapper-preinfo {
  width:  100%;
  background: #a7c4d1 url(../bg/bg-content-top.png) repeat-x 0 bottom;
}
.preinfo {
  padding-top: 1.5em;
  padding-bottom: 2em;
  color: #4c4c4c;
  font-size: 1.3em;
  margin-leftx: 10%;
  widthx: 60%;
}
.preinfo img {
  width: 64px;
}
/*.openehr-top {
  background: url(bg/bg-openehr-top.gif) no-repeat center bottom;
  
}*/
/* @end */

/* @group content */
.bg-content-bot {
  background: #fff url(../bg/bg-content-bot.png) repeat-x 0 top;
}
.bg-content {
  background: #fff url(../bg/bg-content.png) repeat-x 0 top;
}

.openehr-bot {
  background: url(../bg/bg-openehr-bot.gif) no-repeat center top;
}
.content-area, .post-info {
  padding-top: 1em;
  padding-bottom: 1em;
}
.plain-content .content-area {
  background-color: white;
  padding: 1em;
}
.shaded {
  background-color: #e4e8ed;
}
.bg {
  background-color: white;
}
/*
.menu-list li {
  
}
.menu-list li a {
  padding-left: 0em;
}
.menu-list .current-item  {
  color: black;
  background-color: #c5d3dd;
  padding: 0 2em 0 2px;
  font-weight: bold;
}
.menu-list .current-item a {
  color: black;
}
*/
a.action {
  color: #825a45;
}
/*
.main {
  background: url(bg/bg_main.gif) repeat-x 0 bottom;
}
*/
.box-section {
  padding-left: 30px;
  padding-bottom: 1em;
  border: 1px solid #c1c1c1;
  border-topx: 2px solid #f2c05f;
  margin-bottom: 1em;
  background-color: #fff;
}
.box-section h2 {
  font-sizex: 1em;
}
/*
.box-section h2 {
  color: #21264c;
  margin-left: -30px;
  padding-left: 30px;
  line-height: 2em;
  background: #fbecc6 url(bg/bg_05.jpg) repeat-x 0 top;
}
*/

.head-list ol {
  font-size: 1.2em;
  color: #334146;
  list-style-type: none;
  margin-left: 0;
}
.head-list li {
  background: url(../icons/round-red.png) no-repeat left center;
  padding-left: 25px;
}
/* @end */

/* @group tags */
/*
h4.tags {
	display: inline;
	color: #a25f21;
	font-size: 90%;
}*/
ul.tags { margin: 0pt; display: inline; font-size: 90%; color: rgb(127, 127, 76); list-style-type: none; list-style-image: none; list-style-position: outside;
}
ul.tags li { margin: 0pt; padding: 0pt; background: transparent none repeat; display: inline;  }
ul.tags li + li:before { margin-left: -0.35em; content: ", "; }
ul.tags li a { border-color: rgb(204, 204, 153); color: #7c5a18; }
ul.tags li a:hover { color: rgb(255, 255, 255); background-color: #7c5a18; }

/* @end */

/* @group entries */

.entry {
  padding-bottom: 1em;
  padding-right: 30px;
}
.entry h3 {
  margin-bottom: 0.6em;
  border-top: 1px solid #edd495;
}
.entry h3 a {
  text-decoration: none;
  border-bottom: 0px solid #fff;
}
.entry .more {
  color: #f58117;
  font-weight: bold;
}
.entry-descr {
  padding-bottom: 1em;
  padding-left: 0px;
}
/*
.entry-descrx .sub {
  color: #768495;
  font-size: 0.8em;
  margin-bottom: 0;
  padding: 0.4em 0;
  background: url(bg/comment.png) no-repeat left center;
}
.entry-descrx .sub a {
  color: #768495;  
}

.entry-descrx .inline_tag_list {
  color: #79748b;
  font-size: 0.9em;
}
*/
.entry-descr {
  color: #768495;
  font-size: 0.9em;
}
.entry-descr p {
  margin-top: 0.5em;
}
.entry-descr ul {
  display: inline;
  margin-left: 0;
}
.entry-descr li {
  display: inline;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 4px;
}
.entry-descr .entry-author {
  background: url(../icons/person.png) no-repeat left center;
}
.entry-descr .entry-date {
  background: url(../icons/calendar.png) no-repeat left center;
}
.entry-descr .entry-comments {
  background: url(../icons/comments.png) no-repeat left center;
}
.entry-descr .entry-more {
  background: url(../icons/read-more.png) no-repeat left center;
}
.entry-descr .entry-tags {
  background: url(../icons/tags.png) no-repeat left center;
}
/* @end */

/* @group comments */

.commententry {
  padding: 1em;
  width: 766px;
}

.commententry.row1 {
  background-color: #dadada;
}
.commententry.row2 {
  background-color: #f4f8f0;
}
.commententry h5 {
  color: #00133e;
  border-bottom: 1px solid #bdbdbd;
}

/* @end */

/* @group forms */

fieldset {
  position: relative;
  clear: both;
  float: left;
  width: 790px;
  padding: 0 0 2em;
  border-style: none;
  border-top: 1px solid #c1d5c2;
  background-color: #d3dcee;
  margin: 0;
}
legend {
  color: #1e4d5f;
  padding: 0;
}
legend span {
  position: absolute;
  left: 0.74em;
  top: 0;
  margin-top: 0.5em;
}
fieldset ol {
  clear: left;
  float: left;
  padding: 3.5em 1em 0 1em;
  list-style: none;
}  

fieldset li {
  clear: left;
  float: left;
  width: 100%;
  padding-bottom: 1em;
}
fieldset.submit {
  background-color: white;
  float: none;
  width: 640px;
  padding-left: 150px;
  padding-top: 1.5em;
}

/* My Comment 
fieldset li {
padding-bottom: 0em;
}

fieldset ol {
padding: 1em 1em 0 0em;
margin-left:1em;
}

legend {
padding: 0 0 1em 0;
}

fieldset.submit {
padding-left: 11em;
}

*/


label {
  float: left;
  width: 8em;
  margin-right: 1em;
}
.wider label {
  width: 16em;
}
.wider .submit {
  padding-left: 19.5em;

}
/* <ul class="errorlist"><li>This field is required.</li></ul> 
 */
ul.errorlist {
  color: red;
}
ul.errorlist li {
  padding-top: 0.5em;
  padding-bottom: 0;
  list-style-type: square;
}
.honeypot {
  display: none;
}
fieldset .url {
  display: none;
}
fieldset .hidden {
  display: none;
}

/* @end */



/* @group siteresources */


.siteresources table {
	background-color: #F8F8EC;
	border-collapse: collapse;
	border: thin solid Silver;
	margin: 0px;
	padding: 2px 2px 5px 5px;
}
.siteresources th {
	border-bottom: thin solid #DCDCDC;
	color: #003f84;
	padding: 2px 5px 5px 5px;
	vertical-align: text-top;
}
.siteresources tr {
}

.siteresources td {
	border-bottom: thin solid #DCDCDC;
	padding: 2px 5px 5px 5px;
	vertical-align: text-top;
}
.siteresources span {
	background-repeat: no-repeat;
	color: #4682B4;
}
.siteresources span.www {
	background-image: url('icon_world.gif');
}
.siteresources span.pdf {
	background-image: url('file_acrobat.gif');
}
.siteresources span.doc {
	background-image: url('page_white_word.gif');
}
.siteresources span.file {
	background-image: url('box.gif');
}
.siteresources span.filesize {
	font-size: 0.8em;
}
/* @end */

/* @group footer */
.container-wrapper-footer {
  width: 100%;
  background: black url(../bg/bg-black-bar.png) repeat-x 0 top;
}

#footer {
  color: white;
  padding-top: 1em;
  padding-bottom: 0;
  text-align: center;
  /* background: transparent url(../bg/foot_bg.jpg) repeat-x;*/
}
#footer p {
  padding-bottom: 1em;
}
#footer a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #ab7b22;
  font-weight: bold;
}
#sub-footer {
  background-color: #00133e;
  padding-top: 1em;
}
/* @end */


