{% extends "base.html" %}
{% load i18n markup tagging_tags ct_groups_tags comments %}

{% block title %}{{ object.name }}{% endblock %}
{% block breadcrumbs %}
  <a href="/">{% trans 'Home' %}</a>  &gt;
  <a href="/groups">{% trans 'Groups' %}</a>
{% endblock %}

{% block doc_class %}class="single-col"{% endblock %}

{% block add-logo %}{% if object.logo %}<img src="/media/{{ object.logo }}">{% endif %}{% endblock %}

{% block content %}

    <div class="column span-7">

        <div class="box-section">
        <h2>{% trans 'Group pages' %}</h2>
        {% wiki_pages for object as pages %}
        {% if pages %}
        <div class="menu-list">
            <ul>
            {% for page in pages %}
                <li><a href="{{ page.get_absolute_url }}">{{ page.summary }}</a></li>
            {% endfor %}
            </ul>
        </div>
            {% else %}
                <p>- {% trans 'None yet' %} -</p>
            {% endif %}
            {{ object|wiki_new_page:user }}
        </div>

        {# <div class="box-section"> #}
        {# <h2>{% trans 'Resources' %}</h2> #}
        {# {% if object|resource_access:user %} #}
        {#      #}
        {#     <ul> #}
        {#     {% for o in object.clintemplate_set.all %} #}
        {#         <li><a href="{{ o.get_absolute_url }}">{{ o.name }}</a></li> #}
        {#          #}
        {#     {% endfor %} #}
        {#     </ul> #}
        {# {% else %} #}
        {#     <p>{% trans "Sorry, you don't have access to this group's resources" %}.</p> #}
        {# {% endif %} #}
        {#      #}
        {# </div> #}

        <div class="box-section">
        <h2>{% trans 'Members' %}</h2>

        {% if object.get_active_members %}
         {% regroup object.get_active_members|dictsort:"member_type" by member_type as grouped %}
            <ul>
            {% for group in grouped %}
              <li>{% trans group.grouper %}
              <div >
                <ul class="menu-list">
                    {% for item in group.list|dictsort:"user_last_name" %}
                        <li {% ifequal user item.user %}class="currentitem"{% endifequal %}>{{ item.user.get_full_name }}</li>
                    {% endfor %}
                </ul>
              </div>
            {% endfor %}
            </ul>
        {% else %}
            <p>- {% trans 'None yet' %} -</p>
        {% endif %}

        {% if object|group_edit:user %}
            <p><a class="action" href="{% url group-edit object.slug %}">{% trans 'Edit group and personal settings' %}.</a></p>                        
        {% else %}
            {% if object|membership_pending:user %}
                <p>{% trans 'Your group membership request is waiting for approval' %}.</p>
            {% else %}
                {% if object|has_member:user %}
                        <p><a class="action" href="{% url group-edit object.slug %}">{% trans 'Edit your group settings' %}.</a></p>
                        {# <p><a class="action" href="{% url leave-group object.id %}">Leave this group.</a></p> #}
                {% else %}
        			{% if object.show_join_link %}
        	            <p><a class="action" href="{% url join-group object.id %}">{% trans 'Join this group' %}.</a></p>
        			{% endif %}
    			{% endif %}
                
            {% endif %}
        
                
        {% endif %}
        
        </div>
    </div>

    <div class="column span-16 last">
        <div class="main span-16 box-section last">
            <h1>{{ object.name }}</h1>

            {{ object.note|textile }}

            <div class="entry-descr">
                {% tags_for_object object as tag_list %}                          
                <ul>
                    {% if tag_list %}
                        <li class="entry-tags">
                        <ul class="tags">
                            {% for tag in tag_list %}
                                <li><a href="{% url tag tag.name %}">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="main span-16 box-section last siteresources">
	        <h2>{% trans 'Detailed Clinical Models' %}</h2>
	        {% if object|resource_access:user %}

				<table class="">
					<thead>
						<tr><th>{% trans 'Title' %}</th><th>{% trans 'Status' %}</th></tr>
					</thead>
					<tbody>
			            {% for o in object.clintemplate_set.all %}
							<tr><td><a href="{{ o.get_absolute_url }}">{{ o.name }}</a></td><td>{{ o.PublicationStatus }}{{ o.status }}</td></tr>
			            {% endfor %}
					</tbody>
				</table>
				{% if object|resource_can_edit:user %}
                    <p><a class="action" href="{% url new-ct object.slug %}">{% trans 'New DCM' %}.</a></p>                        
				{% endif %}

	        {% else %}
	            <p>{% trans "Sorry, you don't have access to this group's resources" %}.</p>
	        {% endif %}
            
        </div>





        <div class="column span-16 box-section last">

        <div class="column span-10">
            <h2>{% trans 'Recent discussion posts' %}</h2>
              
            {% if object|blog_access:user %}

              {% get_latest_group_posts 5 for object as latest_post_list %}

              {{ object|blog_new_post:user }}
              
              {% if latest_post_list %}

                  {% for post in latest_post_list %}

                  <div class="entry">
                      <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                      <div class="entry-descr">
                          {% get_comment_count for post as comment_count %}
                          <ul>
                              <li class="entry-author">{{ post.author.get_full_name }}</li>
                              <li class="entry-date">{{ post.publish|date:"j M Y" }}</li>
                              <li class="entry-comments"><a href="{{ post.get_absolute_url }}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a></li>
                          </ul>
                              {% if post.ctpost.ct_group %}
                              <p>{% trans 'in' %} <a href="{% url group post.ctpost.ct_group.slug %}">{{ post.ctpost.ct_group.name }}</a></p>
                              {% endif %}
                      </div>
                      
                      {{ post.ctpost.summary|textile }}   
                               
                      <div class="entry-descr">
                          {% tags_for_object post as tag_list %}                          
                          <ul>
                              <li class="entry-more"><a href="{{ post.get_absolute_url }}">{% trans 'Read more' %}...</a></li>
                              {% if tag_list %}
                                  <li class="entry-tags">
                                      <ul class="tags">
                                          {% for tag in tag_list %}
                                              <li><a href="{% url tag tag.name %}">{{ tag.name }}</a></li>
                                          {% endfor %}
                                      </ul>
                                  </li>
                              {% endif %}
                          </ul>
                      </div>
                  </div>      
                {% endfor %}
              {% else %}
                <p>- {% trans 'None yet' %} -</p>
              {% endif %}
            {% else %}
                <p>{% trans "Sorry, you don't have access to this group's posts" %}.</p>
            {% endif %}  
            
        </div>
        
        <div class="column span-5 last">
            <h2>{% trans 'Recent comments' %}</h2>
            {% if object|comment_access:user %}

                {% get_latest_group_comments 6 for object as latest_comment_list %}
            
                {% for comment in latest_comment_list %}
                    <div class="entry-descr">
                    <p><strong>{{ comment.user.get_full_name }}</strong>:
                        <a href="{{ comment.content_object.get_absolute_url }}#comments">
                        {{comment.comment|truncatewords:7}}</a></p>
                        <p>{% trans 'in' %} "{{ comment.content_object.title }}"</p>
                    </div>
                
                {% empty %}
                    <p>- {% trans 'No comments yet' %} -</p>
                {% endfor %}
            {% else %}
                <p>{% trans "Sorry, you don't have access to this group's comments" %}.</p>
            {% endif %}

        </div>
    </div>
    </div>

{% endblock %}
