{% load sitevars utils i18n %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/blueprint/print.css" type="text/css" media="print">    
    <link rel="stylesheet" href="/static/default.css" type="text/css" media="screen, print">    
    <!--[if IE]><link rel="stylesheet" href="/static/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <title>Snowhite: {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="/image/ico" href="/static/favicon.ico">
    <!-- <link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/latestnews/"/> -->
    
    {% block head_extra %}{% endblock %}
</head>
<body {% block bodyid %}{% endblock %} {% block bodyclass %}class="single-col"{% endblock %}>

    <div class="container">
        <div id="header" class="column span-24">
            <div id="header-menu">

                <form action="/i18n/setlang/" method="post">{% csrf_token %}
                    <a href="/">home</a> -
                    <a href="/groups/">groups</a> -
                    <a href="/tags/">topics</a> -
                    <a href="/contact/">contact</a> -
                    <a href="/about/">about</a> -
                    <a href="http://www.clinicaltemplates.org/">ClinicalTemplates.org</a>
                    {% if perms.flatpages.change_flatpage %}- <a href="/admin/">admin</a>{% endif %}
                    <!-- <input name="next" type="hidden" value="{{ REQ_FULL_PATH|nologout }}" />
                    {% ifequal LANGUAGE_CODE "en"  %}
                        <input name="language" type="hidden" value="it" />
                        <input type="submit" value="Italian version" />
                    {% else %}
                        <input name="language" type="hidden" value="en" />
                        <input type="submit" value="English version" />
                    {% endifequal %} -->
                </form>
            </div>

            <h1><a title="Snowhite" href="/">Snowhite demo siteA</a></h1>
        </div>
        <div id="subhead">A playground for the ClinicalTemplates.org web framework</div>

    </div>

    <div class="container-wrapper-login">
    <div class="container">
        <div id="login-bar" class="column span-24">
            <div class="column span-16">
                {% if user.is_authenticated %}
                    <p>Logged in:
                      {{ user.username }} | <a href="{% site_base %}accounts/logout/">log out</a>
                          | <a href="/accounts/profile/">my details</a>
                          | <a href="/accounts/password_change/">change password</a></p>
                {% else %}
                    <p>
                      <a href="{% site_base %}accounts/login/?next={{ REQ_FULL_PATH|nologout }}">log in</a>
                          | <a href="/password_reset/">forgotten user name or password?</a>
                          {% comment %}| <a href="/accounts/register/">register</a></p>{% endcomment %}
                {% endif %}
            </div>
            <div id="login-bar-search" class="column span-8 last">

                <form action="http://www.google.com/cse" id="cse-search-box">
                  <p>
                    <input type="hidden" name="cx" value="014668001863459659633:4sgrr6bdxyy" />
                    <input type="hidden" name="ie" value="UTF-8" />
                    <input type="text" name="q" size="24" />
                    <input type="submit" name="sa" value="Search" />
                  </p>
                </form>
            </div>
        </div>        
    </div>
    </div>


    {% block pre-info %}{% endblock %}



    <div class="container-wrapper-content {% block content-wrapper-class %}bg-content{% endblock %}"> 
        <div class="{% block content-class %}plain-content{% endblock %}">
            <div class="container content-area">{% block content %}{% endblock %}</div>
        </div>
    </div>
    <div class="container-wrapper-footer">
    <div id="footer" class="container">

    <p>This site uses the <a href="http://www.clinicaltemplates.org">ClinicalTemplates.org</a> web framework</p>


    </div>
    </div>

</body>

</html>