<!doctype html>{% load sitevars utils i18n %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Snowhite: {% block title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="SnowCloud.co.uk">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	
	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/static/css/default.css">
  {% block stylesheet_extra %}{% endblock %}

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png" />

  <script type="text/javascript" src="http://use.typekit.com/mmc1wbc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>

	<div class="container-wrapper login"> 
    	<div class="container">
    		<div class="sixteen columns">
                {% if user.is_authenticated %}
                    <p>Logged in:
                      {{ user.username }} | <a href="{% site_base %}accounts/logout/">log out</a>
                          | <a href="/accounts/profile/">my details</a>
                          | <a href="/accounts/password_change/">change password</a></p>
                {% else %}
                    <p>
                      <a href="{% site_base %}accounts/login/?next={{ REQ_FULL_PATH|nologout }}">log in</a>
                          | <a href="/password_reset/">forgotten user name or password?</a>
                          {% comment %}| <a href="/accounts/register/">register</a></p>{% endcomment %}
                {% endif %}
                <div class="language">
                    <form id="setlang" action="/s/setlang/" method="post">{% csrf_token %}
                        {# <img src='/static/media/flags/{{ LANGUAGE_CODE }}.png'> #}
                        <input name="next" type="hidden" value="{{ REQ_FULL_PATH|nologout }}" />
                        <select name="language" id="langchange">
                            {% for lang in LANGUAGES %}
                                <option value="{{lang.0}}"{% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>{{lang.1}}</option>
                            {% endfor %}
                        </select>
                        <input id="langsubmit" type="submit" value="{% trans "Change" %}" />
                    </form>
                </div>
        	</div>
    	</div>
    </div>
	<div class="container-wrapper site-header">
    	<div class="container">
    		<div class="eight columns alpha">
    			<h1>Snowhite</h1>
    			<p>A playground for the ClinicalTemplates.org web framework.</p>
    		</div>
    		<div class="eight columns omega line-menu">
    		      <ul>
                  {% if user.is_staff %}<li><a href="/admin/">{% trans "Admin" %}</a></li>{% endif %}
                  <li><a href="{% site_base %}about/">{% trans "About" %}</a></li>
                  <li><a href="{% site_base %}contact/">{% trans "Contact" %}</a></li>
                  <li><a href="{% site_base %}tags/">{% trans "Topics" %}</a></li>
                  <li><a href="{% site_base %}groups/">{% trans "Groups" %}</a></li>
                  <li><a href="{% site_base %}">{% trans "Home" %}</a></li>
    		      </ul>
    		</div>
    	</div>
	</div>
    
    
    {% block pre-info %}{% endblock %}

	<div class="container-wrapper content">
    	<div class="container content-area">
    		<div class="sixteen columns alpha clearfix breadcrumbs">
    		    {% block breadcrumbs %}{% endblock %}
        	</div>
    		<!-- div class="sixteen columns clearfix"></div -->
    		    {% block content %}{% endblock %}
        	
    	</div>
    </div>

	<div class="container-wrapper site-footer">
    	<div class="container">
    		<div class="sixteen columns">
    			<p>A playground for the ClinicalTemplates.org web framework.</p>
    		</div>
    	</div>
    </div>

		
	<!-- JS
	================================================== -->

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	<script>window.jQuery || document.write("<script src='/static/js/jquery-1.5.1.min.js'>\x3C/script>")</script>

  {% block js-extra %}{% endblock %}

	<!-- script src="/static/js/app.js"></script -->
    <script type="text/javascript">
        $(document).ready(function() {
          $('#langsubmit').hide();
          $('#langchange').change(function() {
            $('#setlang').submit();
      		});
          {% block js-document-ready %}{% endblock %}
        })
    </script>
	
	
<!-- End Document
================================================== -->
</body>
</html>